include admin-head

.padding-40
    ul.nav.nav-pills
        li.active
            a=data.i18n['new-msgs']
        li
            a=data.i18n['ims']
    button.btn.btn-primary.reload=data.i18n['reload']
    table.table.table-hover.im-table
        - msgs && msgs.length && msgs.forEach(function(msg){
            tr(id=msg.msg._id)
                td
                    a(href='/admin/account/' + msg.msg.from)=msg.user.name
                td=msg.msg.text
                td=data.msgTypes[msg.msg.type][data.lang]
                td
                    button.btn.btn-mini.to-answer-form=data.i18n['to-answer']
        - });
.modal.hide.fade
    .modal-body
        form.im-form
            textarea
            input.msg-id(type='hidden', name='id')
    .modal-footer
        button.im-send.btn.btn-mini.btn-success=data.i18n['send']
        button.btn.btn-mini(data-dismiss='modal')=data.i18n['cancel']
