- msgs && msgs.length && msgs.forEach(function(msg){
    tr(id=msg.msg._id)
        td=msg.date
        td
            a(href='/admin/account/' + (msg.msg.from == 'admins' ? msg.msg.to : msg.msg.from))=msg.user.name
        td=msg.msg.text
        td=data.i18n['msgTypes'][msg.msg.type]
        td
            - if (msg.msg.to == 'admins')
                button.btn.btn-mini.to-answer-form=data.i18n['to-answer']
            - else
                span=data.i18n['msgTypes']['from-admin']
- });
