include admin-head
.padding-40
    a.spisat.btn.btn-success(href='/spisat')=data.i18n['spisat']
    .last-update-info
        span.last-updated=data.i18n['last-payment']
        span.last-updated-time=last_update
    br
    br
    .balances
        table.table.table-hover
            tr
                td=data.i18n['number']
                td=data.i18n['balance']
                td=data.i18n['perMonthPayment']
                td
            - flats.forEach(function(flat){
                tr
                    td
                        a(href='/admin/flat/'+flat._id)=flat.number
                    td=flat.balance + ' ' + data.i18n['rub']
                    td
                        span=flat.perMonthPayment + ' ' + data.i18n['rub']
                        a.btn.btn-mini(href='/admin/edit-flat/'+flat._id)
                            i.icon-pencil
                    td
                        a.btn.btn-mini(href='/admin/payment-history/'+ flat._id)=data.i18n['paymentHistory']
            - });
