include admin-head

.padding-40
    button.btn.btn-primary.reload=data.i18n['reload']
    table.table.table-hover.im-table
.im-modal.modal.hide.fade
    .modal-body
        form.im-form
            textarea
            input.msg-id(type='hidden', name='id')
    .modal-footer
        button.im-send.btn.btn-mini.btn-success=data.i18n['send']
        button.btn.btn-mini(data-dismiss='modal')=data.i18n['cancel']
.status-modal.modal.hide.fade
    .modal-body
        button.btn.btn-primary.change-status-btn(data-status="work")='В работе'
        br
        br
        button.btn.btn-danger.change-status-btn(data-status="error")='Ошибка'
        br
        br
        button.btn.btn-success.change-status-btn(data-status="done")='Выполнен'
