table.table.table-bordered(data-table=table)
    tr
        - for (key in items[0]) {
            td=key
        - }
    - items.forEach(function(item) {
        tr(data-id=item._id)
            - for (key in item) {
                - if (key != '_id' && key != '__v') {
                    td
                        - if (typeof item[key] == 'object')
                            p=JSON.stringify(item[key])
                        - else if (typeof item[key] == 'boolean')
                            p=item[key] ? 'true' : 'false'
                        - else
                            //-input(data-key=key, data-old-val=item[key],value=item[key])
                            p=item[key]
                - } else {
                    td=item[key]
                - }
            - }
    - });
