include admin-head
.well
    h3=data.i18n.flat + ' #' + flat.number
    h5=data.i18n['balance'] + ': ' + flat.balance + ' ' + data.i18n.rub
    a.btn(href='/admin/edit-flat/' + flat._id)=data.i18n.edit
.well
    - if (users.length)
        h3=data.i18n.livers + ':'
            - users.forEach(function(user){
                p
                    a(href='/admin/account/' + user._id)=user.login
            - })
    - else
        p=data.i18n['no-livers']
.well
    - payments.forEach(function(monthPayments) {
        table.table.table-bordered
            tr(class=monthPayments.month.payed ? '' : 'error')
                td(colspan=4)
                    span=monthPayments.date
                    - if (!monthPayments.month.payed)
                        span.warning.label.label-warning.pull-right=data.i18n['dontPayed']
            - monthPayments.fullPaymentList.forEach(function (payment, i) {
                tr
                    td=payment.name
                    td=payment.sum
                    - if (payment.valuable)
                        td=payment.value || 0
                    - else
                        td
                    td
                        button.btn.btn-mini=data.i18n['edit']
            - });
            tr
                td(colspan=4)=data.i18n['total'] + ': ' + monthPayments.sum
    - });
