include ios-h
            a.button.button-block.show-im-form=data.i18n['new-message']
            form.im-form(method='post', action='/im')
                p=data.i18n['type']
                .segmented-controller
                    li.active
                        a(data-call='locksmith')=data.i18n['call-locksmith']
                    li
                        a(data-call='electrician')=data.i18n['call-electrician']
                    li
                        a(data-call='msg')=data.i18n['msg']
                p=data.i18n['text']
                textarea(rows='5', name='msg')
                input.button.button-block(type='submit', value=data.i18n['send'])
            ul.list.ims
            div.popover.change-status-popover
                header.popover-header
                    h3.Popover='Изменить статус'
                ul.list
                    li.change-status-btn(data-act='error')='Не выполнено (ошибка)'
                    li.change-status-btn(data-act='done')='Выполнено'
                    li
                        button.button.button-block.close-popover='Закрыть'
