- msgs.forEach(function(msg) {
    - if (msg.from === 'from-admin')
        li
            a
                span.im-from=data.i18n['msgTypes'][msg.from]
                span.im-time=msg.time
                !{msg.text}

    - else
        li.pull-right
            span.im-time=msg.time
            !{msg.text}
- });
