!!! 5
html
head
    meta(charset="utf-8")
    link(rel='stylesheet', href='/static/components/bootstrap/css/bootstrap.css')
    title=''
body

    .container
        br
        br
        br
        table.table.table-bordered
            tr
                td='Вид платежа'
                td='Количество'
                td='Тариф'
                td='Итого к оплате'
            - fullPaymentList.forEach(function (payment) {
                tr
                    td=payment.name
                    td=payment.value ? payment.value : ''
                    td=payment.price
                    td=payment.sum
            - });
        h3=data.i18n['total'] + ': ' + sum
